.particle {
    position: absolute;
    border-radius: 50%;
    filter: blur(3.5px);
}

@for $i from 1 through 30 {
    $v1: random(90);
    $v2: random(90);
    $v3: random(90);
    $p1: random(90);
    $p2: random(90);
    $p3: random(90);

    @keyframes particle-animation-#{$i} {
        25% {
            transform: translate3d(($p1 * 1vw), ($p2 * 1vh), ($p3 * 1px));
            opacity: random(100)/100;
        }

        50% {
            transform: translate3d(($v1 * 1vw), ($v2 * 1vh), ($v3 * 1px));
            opacity: random(100)/100;
        }

        75% {
            transform: translate3d(($p1 * 1vw), ($p2 * 1vh), ($p3 * 1px));
            opacity: random(100)/100;
        }

        100% {
            transform: translate3d(($v1 * 1vw), ($v2 * 1vh), ($v3 * 1px));
            opacity: random(100)/100;
        }
    }

    .particle:nth-child(#{$i}) {
        animation: particle-animation-#{$i} 140s infinite;
        $size: random(35)+10+px;
        opacity: random(100)/100;
        height: $size;
        width: $size;
        animation-delay: 0s;
        transform: translate3d(($v1 * 1vw), ($v2 * 1vh), ($v3 * 1px));
        background: hsl(random(100)+200, 70%, 50%);
    }
}